Data/
Jupyter Notebooks/
pdf/
Reports/
Results/
*.pyc
__pycache__/
*.ipynb_checkpoints
.env
.vscode/
venv/
images/
runs/
labels/
Processed_Images/
evaluation_outputs/
dataset/
faster_rcnn_nematode.pth
venv 2/
*.jpg
*.jpeg
*.gif
*.tiff
*.csv
*.json
*.xml
*.pt
/model
/Log
/OpenCV




# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# macOS 11.0 and above
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
man_label.py
/labels/train
/labels
*.pth
yolov5/
/YOLO/nematode_yolov5s
/YOLO/nematode_yolov5s_train
requirements.txt
.zshrc
/verification_vis
verify_open_metric.py
faster_rcnn/cv_loss.xlsx
faster_rcnn/~$cv_loss.xlsx
/Archive
*.log
deeplab_training.log
/Raw_Data
faster_rcnn/faster_rcnn_with_cv.py
faster_rcnn/faster_rcnn_with_cv.py
/YOLO/iteration_1.1
/YOLO/iteration_1
/dataset_seg
/YOLO/summary
/Evaluation/tensorboard_logs
/Evaluation/tensorboard_logs
/Evaluation/overlays
