Data/
Jupyter Notebooks/
Logs & Outputs/
Reports/
Reports/
Results/
*.pyc
__pycache__/
*.ipynb_checkpoints
.env
.vscode/
venv/
images/
runs/
labels/
Processed_Images/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# macOS 11.0 and above
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
man_label.py
